{% extends 'order/base.html' %}

{% block content %}
    <div>
        <h2>{{ order.user.organization }} / {{ order.order_datetime }}</h2>
        <table class="table table-bordered" border="1" width="60%">
            <tr>
                <th>Клиент</th>
                <th>Заказ</th>
            </tr>
            {% for user, order_items in user_order_items.items %}
                <tr>
                    <td>{{ user.username }}  ({{ user.contact_phone }})</td>
                    <td>
                        <ul>
                            {% for item in order_items.items %}
                                <li>{{item.quantity}} x {{ item.menu_item }}</li>
                                <li> ({{ item.price }}) - {{ item.total_price }}</li>
                            {% endfor %}

                        </ul>
                          Total price: {{ order_items.total_price }}
                    </td>
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td></td>
                    <td>Итого: {{ order_total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
